<div class="wrapper">
    <app-timeframe-selection
        (timeFrameChangeEvent)="changeTimeFrame($event)"
        [timeFrameSelected]="this.periodOfTime()"
    ></app-timeframe-selection>

    <div class="content" *ngIf="this.userTopTracks().length > 0">
        <div class="items">
            @for (item of this.userTopTracks(); track $index) {
            <div class="item">
                <app-track-card
                    [track]="item"
                    [index]="$index + 1"
                ></app-track-card>
            </div>
            }
        </div>

        <app-load-more-button
            (loadMoreEvent)="loadMoreItems()"
        ></app-load-more-button>
    </div>

    <div class="content" *ngIf="this.userTopTracks().length < 1">
        <div class="items">
            <div class="item">
                <app-card-standart-fullsize
                [index]="null"
                [data]="{}"
                >
                </app-card-standart-fullsize>
            </div>
            <div class="item">
                <app-card-standart-fullsize
                [index]="null"
                [data]="{}"
                >
                </app-card-standart-fullsize>
            </div>
            <div class="item">
                <app-card-standart-fullsize
                [index]="null"
                [data]="{}"
                >
                </app-card-standart-fullsize>
            </div>
            <div class="item">
                <app-card-standart-fullsize
                [index]="null"
                [data]="{}"
                >
                </app-card-standart-fullsize>
            </div>
            <div class="item">
                <app-card-standart-fullsize
                [index]="null"
                [data]="{}"
                >
                </app-card-standart-fullsize>
            </div>
            <div class="item">
                <app-card-standart-fullsize
                [index]="null"
                [data]="{}"
                >
                </app-card-standart-fullsize>
            </div>
        </div>
    </div>
</div>
