<div class="wrapper">
    <div class="timeframe-selection">
        <app-timeframe-selection
            (timeFrameChangeEvent)="changeTimeFrame($event)"
            [timeFrameSelected]="this.periodOfTime()"
        ></app-timeframe-selection>
    </div>

    @if (
        this.userTopTracks().length > 0
    ) {
        <div class="content">
            <div class="items">
                @for (item of this.userTopTracks(); track $index) {
                <div class="item">
                    <app-track-card
                        [track]="item"
                        [index]="$index + 1"
                    ></app-track-card>
                </div>
                }
            </div>

            <app-load-more-button
                (loadMoreEvent)="loadMoreItems()"
            ></app-load-more-button>
        </div>
    } @else {
        <!-- Like, if there is no data, it would be just a skeleton -->
        <div class="content placeholder">
            <div class="items placeholder">
                <div class="item" *ngFor="let i of [].constructor(25)">
                    <app-card-standart-fullsize
                        [index]="0"
                        [data]="undefined">
                    </app-card-standart-fullsize>
                </div>
            </div>
        </div>
    }
</div>
