* {
    outline: 1px blue solid;
}

.wrapper {

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .auth-btn {

        }
    }
}
