<div class="wrapper">
    <div class="container">
        <div class="title">
            <p>Account Settings</p>
        </div>
        <div class="settings-item">
            <p class="name">Log out</p>
            <p class="description">you will log out from current session</p>
            <div class="actions">
                <app-log-out-button></app-log-out-button>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="title">
            <p>Application Settings</p>
        </div>
        <div class="setting-item">
            <p></p>
            <div>
                <app-theme-toggle></app-theme-toggle> ????????
            </div>
        </div>
    </div> -->
</div>
