<div class="wrapper">
    <div class="nav-item">
        <a [routerLink]="['home']">
            <div class="nav-button">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['top-artists']">
            <div class="nav-button">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        music_note
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['top-tracks']">
            <div class="nav-button">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        artist
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['top-albums']">
            <div class="nav-button">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        album
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['top-genres']">
            <div class="nav-button">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        emoji_symbols
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>
