<div class="wrapper">
    <div class="item">
        <a [routerLink]="['home']">
            <div class="item1">
                <p>home</p>
            </div>
        </a>
    </div>
    <div class="item">
        <a [routerLink]="['top-artists']">
            <div class="item1">
                <p>top artists</p>
            </div>
        </a>
    </div>
    <div class="item">
        <a [routerLink]="['top-tracks']">
            <div class="item1">
                <p>top tracks</p>
            </div>
        </a>
    </div>
    <div class="item">
        <a [routerLink]="['top-albums']">
            <div class="item1">
                <p>top albums</p>
            </div>
        </a>
    </div>
    <div class="item">
        <a [routerLink]="['top-genres']">
            <div class="item1">
                <p>top genres</p>
            </div>
        </a>
</div>
