.wrapper {
    height: 100wh;
    box-sizing: border-box;
    position: relative;

    .top-nav {
        position: sticky;
        top: 0;
        z-index: 100;
    }


    // .mouse-trail-container {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0px;
    //     left: 0px;
    //     z-index: 1001;
    //     pointer-events: none;
    // }
}
