.wrapper {
    // display: flex;
    // flex-direction: column;
    // min-height: 100%;
    position: relative;
    // outline: 2px solid red;
    // border: 2px solid red;

    // flex: 1;

    .timeframe-selection {
        position: sticky; // isnt realy sticky, couse it goes under top nav bar
        top: 0;
        // z-index: 1000;
    }

    .content {
        flex: 1;

        .items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 16px;

            padding: 4px 16px;
        }
    }
}
