.button {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--green-spotify-color);
    transition: var(--standart-transition);

    user-select: none;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            padding: var(--small-padding) var(--medium-padding);

            p {
                font-size: var(--medium-font-size);
                font-weight: bold;
                color: var(--white-color);
            }

            img {
                width: var(--medium-font-size);
                height: var(--medium-font-size);
                margin-left: 0.5rem;
            }
        }
    }
}

.button:hover {
    background-color: var(--green-spotify-hover-color);
}
