<div class="wrapper">
    <app-timeframe-selection
        (timeFrameChangeEvent)="changeTimeFrame($event)"
        [timeFrameSelected]="this.periodOfTime()"
    ></app-timeframe-selection>

    <div class="content">
        <div class="items">
            @for (item of this.userTopAlbums(); track $index) {
            <div class="item">
                <app-album-card
                    [album]="item"
                    [index]="$index + 1"
                ></app-album-card>
            </div>
            }
        </div>

        <!-- <app-load-more-button (loadMoreEvent)="loadMoreItems()"></app-load-more-button> -->
    </div>
</div>
