<div
    *ngIf="data() != undefined"
    class="card"
    [@fadeAnimation]
    >
    <div class="picture">
        <a [href]="data()?.imageLink">
            <img
                *ngIf="data()?.image"
                [src]="data()?.image"
                [alt]="data()?.primaryText + ' image...'"
                loading="lazy"
            />
        </a>
    </div>
    <div class="info">
        <div class="index">
            <span>#</span>
            <span>{{ index() != null ? index() : '00' }}</span>
        </div>
        <div class="card-info">
            <p
                class="primary-text"
                [title]="data()?.primaryText"

                >
                {{ data()?.primaryText }}
            </p>
            <p
                *ngIf="data()?.secondaryText"
                class="secondary-text"
                [title]="data()?.secondaryText"
                >
                {{ data()?.secondaryText }}
            </p>
        </div>
    </div>
</div>

<div class="card card-placeholder" *ngIf="!data() || !index()">
    <div class="picture">
        <div class="placeholder"></div>
    </div>
    <div class="info">
        <div class="index">
            <span class="placeholder">#</span>
            <span class="placeholder">00</span>
        </div>
        <div class="card-info">
            <p class="primary-text placeholder"></p>
            <p class="secondary-text placeholder"><span></span><span></span></p>
        </div>
    </div>
</div>
