<div class="card" [@fadeAnimation]>
    <div class="picture">
        <a [href]="'artist/' + artist().id">
            <img
                src="{{ artist().images[0].url }}"
                alt="{{ artist().name }}"
                loading="lazy"
            />
        </a>
    </div>
    <div class="info">
        <div class="index">
            <p>#{{ index() }}</p>
        </div>
        <div class="track-info">
            <p class="name">{{ artist().name }}</p>
            <p class="artist">{{ artist().genres }}</p>
        </div>
    </div>
</div>
