<div class="card" [@fadeAnimation]>
    <div class="picture">
        <a [href]="'track/' + track().id">
            <img
                [src]="track().album.images[0].url"
                alt="track image"
                loading="lazy"
            />
        </a>
    </div>
    <div class="info">
        <div class="index">
            <p>#{{ index() }}</p>
        </div>
        <div class="track-info">
            <p class="name">{{ track().name }}</p>
            <p class="artist">{{ track().artists[0].name }}</p>
        </div>
    </div>
</div>
