<div class="wrapper">
    <app-timeframe-selection (timeFrameChangeEvent)="changeTimeFrame($event)"></app-timeframe-selection>

    <div class="content">
        <div class="items">
        @for (item of this.userTopArtists(); track $index) {
            <div class="item">
                <app-artist-card [artist]="item" [index]="$index"></app-artist-card>
            </div>
        }
        </div>

        <app-load-more-button (loadMoreEvent)="loadMoreItems()"></app-load-more-button>
    </div>
</div>
